@import "tailwindcss";

@font-face {
  font-family: "DM";
  src: url("./assets/fonts/DMSans_18pt-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM";
  src: url("./assets/fonts/DMSans_18pt-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --pani-dark: #341f97;
  --pani-clear: #ff9ff3;
  --pani-bg: #fffbff;
}

body {
  color: var(--pani-dark);
  font-family: "DM";
  background-color: var(--pani-bg);
}

input {
  border: solid 1px var(--pani-clear);
  border-radius: 0.25rem;
  margin-bottom: 2px;
}